<header class="header">
  <div class="toggle-btn">
    <span></span>
  </div>
  <div class="container">
    <div class="logo">
      <a href="index.html">
        <img src="images/logo.png" alt="">
      </a>
    </div>
    <div class="nav">
      <ul>
        {% for page in site.pages %}
          {% if page.layout %}
            {% if page.title != 'Listing Page' %}
              <li>
                <a href="{{page.name}}" {% if page.name  == page.title %}class="active"{% endif %}>{{page.title}}</a>
              </li>
            {% endif%}
          {% endif%}
        {% endfor%}
      </ul>
    </div>
  </div>
</header>
