<header class="header">
  <div class="container">
    <div class="logo">
      <a href="/">
        <img src="{{site.basurl}} /images/logo.png" alt="">
      </a>
    </div>
    <div class="toggle-btn">
      <span></span>
    </div>
    <div class="nav">
      <ul>
        <li>
          <a href="/index.html" class="{% if page.url == '/index.html' %} current {% endif %}">Home</a>
        </li>
        <li>
          <a href="/blog">Blog</a>
        </li>
      </ul>
    </div>
  </div>
</header>
