<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Meta tags for SEO -->
  <meta name="description" content='{% if page.metadescription %} {{ page.metadescription }} -- {{site.metadescription}} {% else %} {{site.metadescription}} {% endif%}' />
  <meta name="keywords" content="{% if page.metakeyword %} {{ page.metakeyword }} {{site.metakeyword}} {% else %} {{site.metakeyword}} {% endif%}" />
  <meta name='keywords' content="{% if page.metakeyword %} {{ page.metakeyword }} {{site.metakeyword}} {% else %} {{site.metakeyword}} {% endif%}" />
  <meta name='description' content='{% if page.metadescription %} {{ page.metadescription }} -- {{site.metadescription}} {% else %} {{site.metadescription}} {% endif%}' />

  <!-- Meta for facebook -->
  <meta property='og:title' content='{% if page.title %}{{page.title}}{% else %}{{site.title}}{% endif%}' />
  <meta property='og:url' content='{{site.domain}}{{page.url}}' />
  <meta property='og:type' content='website' />
  <meta property='og:image' content='{% if page.metaImg %}{{site.domain}}/{{page.metaImg}}{% else %}{{site.domain}}/{{site.metaImg}}{% endif%}' />
  <meta property='og:site_name' content='{{site.title}}' />
  <meta property='og:description' content='{% if page.metadescription %} {{ page.metadescription }} {% else %} {{site.metadescription}} {% endif%}' />
  
  <!-- Meta tags for SEO -->

  <!-- Favicons -->
  <!--  genrate all favicons images from  https://realfavicongenerator.net/ -->

  <link rel="apple-touch-icon" sizes="180x180" href="images/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="images/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="images/favicons/favicon-16x16.png">
  <link rel="manifest" href="images/favicons/manifest.json">
  <link rel="mask-icon" href="images/favicons/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="images/favicons/favicon.ico">
  <meta name="msapplication-config" content="images/favicons/browserconfig.xml">
  <meta name="theme-color" content="#6e7980">
  <!-- Favicons -->

  {% if site.googleAnalyticsId %}
  <!-- Google Analytics code -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', {{site.googleAnalyticsId}}, 'auto');
    ga('send', 'pageview');
  </script>
  <!-- Google Analytics code -->
  {% endif %}


  <title>{% if page.title %}{{page.title}}{% else %}{{site.title}}{% endif %}</title>

  {% if site.fontawesome == true  or  page.fontawesome == true %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  {% endif%}
  {% for style in page.styles %}
    <link rel="stylesheet" href="styles/ext/{{style}}.css">
  {% endfor %}
  <link rel="stylesheet" href="styles/styles.css">
  <script src="scripts/jquery-min.js" charset="utf-8"></script>
</head>
