<script src="{{site.baseurl}}/scripts/jquery-min.js" charset="utf-8"></script>
{%if page.slick == true %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js" charset="utf-8"></script>
  <script src="{{site.baseurl}}/scripts/slick-calling.js" charset="utf-8"></script>
{% endif%}
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.4/jquery.lazy.min.js" charset="utf-8"></script>

<script src="{{site.baseurl}}/scripts/common.js" charset="utf-8"></script>
