$headerBg: #fff

.header
  background-color: $headerBg
  padding: em(10) 0
  .container
    +mq(min,1024px)
      display: -webkit-flex
      display: -ms-flex
      display: flex
      justify-content: space-between
      align-items: center
  .logo
    max-width: 100px
