.header
  +clearfix
  .logo
    float: left
    max-width: 100px
    padding: em(5) 0
  .nav
    float: right
    padding: 15px 0
    li
      float: left
      padding: 0 em(10)
      font-size: 18px
      font-weight: 300
