<div class="rating-form {% if include.type %} {{include.type}} {% endif %}">
  <fieldset class="form-group">
    <div class="form-item">
      <input id="{{include.id}}-rating-5" name="{{include.id}}_rating" type="radio" value="5" {% if include.isRequied == 'true' %} required="required" {% endif%}/>
      <label for="{{include.id}}-rating-5" data-value="5">
          <span class="rating-star five">
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star"></i>
          </span>
          <span class="ir">5</span>
        </label>
      <input id="{{include.id}}-rating-4" name="{{include.id}}_rating" type="radio" value="4" {% if include.isRequied == 'true' %} required="required" {% endif%}/>
      <label for="{{include.id}}-rating-4" data-value="4">
          <span class="rating-star four">
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star"></i>
          </span>
          <span class="ir">4</span>
        </label>
      <input id="{{include.id}}-rating-3" name="{{include.id}}_rating" type="radio" value="3" {% if include.isRequied == 'true' %} required="required" {% endif%}/>
      <label for="{{include.id}}-rating-3" data-value="3">
          <span class="rating-star three">
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star"></i>
          </span>
          <span class="ir">3</span>
        </label>
      <input id="{{include.id}}-rating-2" name="{{include.id}}_rating" type="radio" value="2" {% if include.isRequied == 'true' %} required="required" {% endif%}/>
      <label for="{{include.id}}-rating-2" data-value="2">
          <span class="rating-star two">
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star"></i>
          </span>
          <span class="ir">2</span>
        </label>
      <input id="{{include.id}}-rating-1" name="{{include.id}}_rating" type="radio" value="1" {% if include.isRequied == 'true' %} required="required" {% endif%}/>
      <label for="{{include.id}}-rating-1" data-value="1">
          <span class="rating-star one">
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star"></i>
          </span>
          <span class="ir">1</span>
        </label>
      <div class="form-output">
        ? / 5
      </div>
    </div>
  </fieldset>
</div>
